---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import ProjectSpecs from "../components/ProjectSpecs.astro";
import FigmaEmbed from "../components/FigmaEmbed.astro";
import "../styles/global.css";
import ChartDots from "../icons/ChartDots.astro";
import Fox from "../icons/Fox.astro";
import Sparkles from "../icons/Sparkles.astro";
import Cube from "../icons/Cube.astro";
import Palette from "../icons/Palette.astro";
import { Image } from "astro:assets";

const src = "/PaperFoxStudio-Build.webm";
const poster = "/poster.webp";

const src1 = "/Nile Riggin.webm";
const poster1 = "/PaperFoxLogoV2.webp";

const src2 = "/Neil-Style.webm";
const poster2 = "/Nile-Style.webp";
---

<Layout
  title="Personal projects"
  description="Johan's personal projects."
  image="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Foxy-Blink.gif?alt=media&token=6fdef4b7-2f2f-4fbd-94a0-65a59868bfee"
  url="https://paperfoxstudio.site/personal"
  canonicalURL="https://paperfoxstudio.site/personal"
>
  <main class="dark:text-gray-200">
    <SectionContainer>
      <h1
        class="text-right text-sm md:text-base lg:text-lg font-medium text-[#1e1e1e] dark:text-[#fafaf6] mb-4"
      >
        portfolio/personal
      </h1>
      <ProjectSection
        link=""
        title="Paper Fox Studio"
        image="/ID-Personal.webp"
      />
      <nav class="flex flex-wrap gap-2 mt-4 justify-center mb-4">
        <Badge
          content="Illustration"
          bgColor="bg-[#e46f4d]"
          textColor="text-[#4a241b]"
          darkBgColor="dark:bg-[#4a241b]"
          darkTextColor="dark:text-[#e46f4d]"
        />
        <Badge
          content="Branding"
          bgColor="bg-[#97acc6]"
          textColor="text-[#22282e]"
          darkBgColor="dark:bg-[#22282e]"
          darkTextColor="dark:text-[#97acc6]"
        />
        <Badge
          content="Storytelling"
          bgColor="bg-[#ffe5b6]"
          textColor="text-[#584b2c]"
          darkBgColor="dark:bg-[#584b2c]"
          darkTextColor="dark:text-[#ffe5b6]"
        />
        <Badge
          content="Animation ✨"
          bgColor="bg-[#a3cda1]"
          textColor="text-[#293329]"
          darkBgColor="dark:bg-[#293329]"
          darkTextColor="dark:text-[#a3cda1]"
        />
      </nav>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
        <div>
          <h3
            class="text-2xl md:text-3xl font-bold text-[#1e1e1e] dark:text-[#fafaf6] mb-6"
          >
            Project Details
          </h3>
          <p class="dark:text-gray-200">
            Paper Fox Studio is my personal project, an animation and editorial
            illustration studio. It is born from my passion for animation and
            visual storytelling, with the goal of inspiring through unique
            stories and aesthetics.
          </p>
        </div>
        <div>
          <ul>
            <li>
              <strong>🌟 Mission:</strong> To inspire through creativity, captivating
              stories, and visually stunning illustrations.
            </li>
            <li class="mt-2">
              <strong>🔭 Vision:</strong> To become a world-leading studio in the
              creation of creative experiences that excite and connect with people
              of all ages and cultures.
            </li>
            <li class="mt-2">
              <strong>💡 Values:</strong> Creativity, quality, and passion for art
              in all its forms.
            </li>
          </ul>
        </div>
      </div>

      <section>
        <ProjectSpecs
          rol="Project Lead"
          team="Viviana Tovar"
          duration="Working on it"
          tools="Figma, Illustrator, Photoshop, After Effects"
          time="Duration"
          link="https://www.instagram.com/quas.art/"
        />
      </section>
      <section class="mt-4">
        <h3
          class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
        >
          <ChartDots class="size-6" /> Flowchart of the Paper Fox Studio creation
          process
        </h3>

        <p class="mb-6">
          The flowchart illustrates my plan to create and grow Paper Fox Studio.
          I am currently in the business planning phase, researching the market
          and defining the studio's mission and objectives. This detailed plan
          will guide the next stages, from brand creation to studio expansion.
        </p>
        <FigmaEmbed
          src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fboard%2Fp7w4TjLESvQfPmxLsfrv84%2FMindmap-(Community)%3Fnode-id%3D0-1%26t%3DiFmcAKuGvymkMgI5-1"
          width="940"
          height="350"
        />
      </section>
      <section class="mt-8">
        <h3
        class="text-base	 font-bold text-[#1e1e1e] dark:text-[#fafaf6] mb-6"
      >
        Workflow (Pre-production)
      </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
          <div>

            <p class="dark:text-gray-200">
              I am currently in the pre-production phase, working on a
              comprehensive business plan that includes
            </p>
          </div>
          <div class="font-semibold bg-[#fafaf6] p-6 rounded-lg shadow-md">
            <ul>
              <li>🦊 Market research</li>

              <li class="mt-2">🪄 Brand creation</li>
              <li class="mt-2">📝 Legal structure and financing</li>
              <li class="mt-2">💸 Marketing and sales</li>
              <li class="mt-2">👨‍💻 Operations and administration</li>
              <li class="mt-2">🪴 Growth and expansion</li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h3
          class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-2 mt-6 dark:text-[#fafaf6]"
        >
          <Fox class="size-6" /> Branding and Visual Identity
        </h3>
        <section class="grid grid-cols-2 gap-6">
          <div class="col-span-1">
            <h3
            class="flex gap-4 items-center  md:text-3xl font-bold text-[#1e1e1e] dark:text-[#fafaf6] mb-6 mt-4"
          >
            <Palette class="size-6" /> Logo design
          </h3>
            <p>
              The logo, the central symbol of the brand, was designed following
              rigorous design canons:
            </p>
            <ul class="text-sm mt-3">
              <li class="text-sm mt-3">
                <strong>💛 Golden Ratio:</strong> The golden ratio was used to create
                the modules that make up the logo, ensuring visual harmony and aesthetic
                balance.
              </li>
              <li class="text-sm mt-3">
                <strong>⭕ Circular Shapes:</strong> The inclusion of circular elements
                in the design aims to convey a sense of closeness, friendliness,
                and accessibility to the audience.
              </li>
              <li class="text-sm mt-3">
                <strong>✏️ Fennec Fox Representation:</strong> The Fennec fox, with
                its distinctive silhouette and expressive features, is subtly yet
                recognizably integrated into the logo, reinforcing the brand's identity.
              </li>
            </ul>
          </div>
          <div class="col-span-1 m-auto">
            <p class="bg-[#fafaf6] p-8 rounded-lg shadow-md">
              The brand-building process for Paper Fox Studio was based on
              creating a strong and cohesive visual identity, centered around
              the main character, Nile the Fennec fox. His illustration style,
              evoking warmth and curiosity, became the aesthetic foundation of
              the studio.
            </p>
          </div>
        </section>
        <div class="grid grid-cols-6">
          <span class="col-start-2 col-span-4 mt-8">
            <Image
              src="/Personal-MoodBoard.webp"
              alt="Logo MoodBoard"
              width="1080"
              height="540"
              class="shadow-md rounded-lg"
            />
            <p class="text-sm text-right text-slate-600 mt-4">
              Visual identity and character MoodBoard
            </p>
          </span>

        </div>
        <section class="grid grid-cols-2 gap-6">
          <h3
          class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary  mt-6 dark:text-[#fafaf6]"
        >
          <Cube class="size-6" /> Logo determinants
        </h3>

          <div class="col-span-1"></div>
          <div class="col-span-1 m-auto">
            <p class="bg-[#fafaf6] p-8 rounded-lg shadow-md">
              The result is a logo that is not only visually appealing but also
              effectively communicates the values and personality of Paper Fox
              Studio. It is a symbol that invites the audience to explore the
              world of animation and illustration through the eyes of Nile, the
              Fennec fox.
            </p>
          </div>
          <ul class="text-sm">
            <li class="text-sm mt-3">
              <strong>📝 Illustrated: </strong> The golden ratio was used to create
              the modules that make up the logo, ensuring visual harmony and aesthetic
              balance.
            </li>
            <li class="text-sm mt-3">
              <strong>🙂 Brand Identity:</strong> The inclusion of circular elements
              in the design aims to convey a sense of closeness, friendliness, and
              accessibility to the audience.
            </li>
            <li class="text-sm mt-3">
              <strong>👁️ Recognizable Silhouette: </strong> The Fennec fox, with
              its distinctive silhouette and expressive features, is subtly yet recognizably
              integrated into the logo, reinforcing the brand's identity.
            </li>
          </ul>
        </section>
        
        <div class="mt-6">
          <h3
          class="flex gap-4 items-center text-2xl md:text-3xl font-bold text-[#1e1e1e] dark:text-[#fafaf6] mb-6 mt-6"
        >
          <Palette class="size-6" /> Logo construction
        </h3>
        <div class="grid grid-cols-2  ">
        <div class="col-span-1">
          <Image
          width="500"
          height="500"
          alt="Paper Fox Studio V1"
          src="/PaperFoxStudioV1.webp"
          class="rounded-lg shadow-md"
          />
          <p class="text-sm text-right text-slate-600 mt-4 mr-7">
            Paper Fox Studio Logo V1
          </p>
        </div >
        <div class="col-span-1">
        <video controls width=500 height="500"poster={poster} autoplay class="rounded-lg shadow-md ">
          <source src={src} type="video/webm" />
          Tu navegador no soporta la reproducción de video.
        </video>
        <p class="text-sm text-right text-slate-600 mt-4 mr-7">
          Paper Fox Studio Logo V1 Build
        </p>

        </div>
        </div>

        <div class="grid grid-cols-2 mt-6 ">
          <div class="col-span-1">
            <Image
            width="500"
            height="500"
            alt="Paper Fox Studio V1"
            src="/PaperFoxLogoV2.webp"
            class="rounded-lg shadow-md"
            />
            <p class="text-sm text-right text-slate-600 mt-4 mr-7">
              Paper Fox Studio Logo V2 retouched by <a href="https://www.instagram.com/quas.art/" target="_blank">Viviana Tovar</a>
            </p>
          </div >
          <div class="col-span-1">
            <Image
            width="500"
            height="500"
            alt="Paper Fox Studio V1"
            src="/PFS-SafeAreas.webp"
            class="rounded-lg shadow-md"
            />

          <p class="text-sm text-right text-slate-600 mt-4 mr-7">
            Safe Areas 
          </p>
  
          </div>
          </div>

      </section>

      <section>
        <h3
        class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
      >
        <Sparkles class="size-6" /> 
        Style explore 
      </h3>
      <p class="bg-[#fafaf6] p-8 font-medium rounded-lg shadow-md ">These videos showcase my skills in 2D animation and digital illustration. I love bringing characters to life and telling visual stories.</p>

<div class="grid grid-cols-2">
  <span class="col-span-1 mt-6">
            <video controls width=500 height="500" autoplay class="rounded-lg shadow-md ">
          <source src={src1} type="video/webm" />
          Web browser don't suport video
        </video>
        <p class="text-sm text-right text-slate-600 mt-4 mr-7">
            2D Rigging in After Effects and Duik Angela
        </p>

  </span>
  <span class="col-span-1 mt-6">
    <video controls width=500 height="500" poster={poster2} class="rounded-lg shadow-md ">
      <source src={src2} type="video/webm" />
      Web browser don't suport video
    </video>
    <p class="text-sm text-right text-slate-600 mt-4 mr-7">
      Illustration timelapse using Inifinite Painter
  </p>

  </span>


</div>


      </section>

      <section>
        <h3
          class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
        >
          <ChartDots class="size-6" /> Launch strategy
        </h3>
        <div class="grid grid-cols-2 gap-5">
          <p class="col-span-1 sm:col-span-1 dark:text-gray-200">
            The construction of the visual identity was created through market
            research aimed at identifying common points and thereby
            understanding the visual language used by entities participating in
            this niche.
          </p>
          <p class="col-span-1 dark:text-gray-200">
            With that information, a distinctive color palette was created,
            aligned with the themes the client addresses and their fields of
            action.
          </p>
        </div>
      </section>
      <section class="mb-6">
        <h3
          class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
        >
          <ChartDots class="size-6" /> Next Steps
        </h3>
        <div class="grid grid-cols-5 gap-5">
          <p class="col-start-2 col-span-3 bg-[#fafaf6] p-8 font-medium rounded-lg shadow-md">
            With the business plan underway, I will focus on creating engaging content for Instagram and developing my website.
          </p>
        </div>
      </section>
    </SectionContainer>
  </main>
</Layout>
