---
const { id, content, bgColor, textColor, darkBgColor, darkTextColor } = Astro.props;
---

<span
  class={`
    text-sm 
    text-center
    font-semibold 
    p-2 
    rounded-full 
    ${bgColor}
    ${textColor} 
    dark:${darkBgColor} 
    dark:${darkTextColor} 
    items-center
    m-auto	
  `}
>
  {content}
</span>

