---
const { id, content, bgColor, textColor, darkBgColor, darkTextColor } = Astro.props;
---

<span
  class={`text-sm font-semibold px-2 py-1 rounded-full 
         ${bgColor} ${textColor} 
         dark:${darkBgColor} dark:${darkTextColor} 
         border-#685af0`}
>
  {content}
</span>
