---
// src/components/BentoGrid.astro
const projects = [
  {
    id: 1,
    title: "WEB DESIGN",
    colS: "col-span-2",
    rowS: "row-span-2",
    bgColor: "bg-rose-300",
    bgColorT: "hover:bg-gradient-to-r from-rose-300 to-yellow-100",
    textColor: "text-[#2d1d20]",
    img: "https://via.placeholder.com/400",
    classImg:"mt-5",
    link:"https://www.google.com",
  },
  {
    id: 2,
    title: "Graphic Design",
    colS: "col-span-2",
    bgColor: "bg-yellow-200",
    textColor: "text-gray-900",
    img: "https://via.placeholder.com/200",
    classImg:"",
    link:"https://www.google.com",
  },
  {
    id: 3,
    title: "Editorial",
    colS: "col-span-2",
    rowS: "row-span-1",
    bgColor: "bg-blue-500",
    textColor: "cyan-500",
    img: "https://via.placeholder.com/200",
    classImg:"",
    link:"https://www.google.com",
  },
  {
    id: 4,
    title: "Photography and video",
    colS: "col-span-3",
    rowS: "row-span-2",
    bgColor: "bg-green-500",
    textColor: "text-white",
    img: "https://via.placeholder.com/200",
    classImg:"",
    link:"https://www.google.com",
  },
  {
    id: 5,
    title: "Personal projects",
    colS: "col-span-1",
    rowS: "row-span-2",
    bgColor: "bg-green-500",
    textColor: "text-white",
    img: "https://via.placeholder.com/200",
    classImg:"",
    link:"https://www.google.com",
  },
  // Añade más proyectos según sea necesario
];
---

<div class="grid grid-cols-4 gap-4">
  {
    projects.map((project) => (
      
      <div
        class={`p-4 rounded-lg shadow-md flex flex-col place-items-center hover:scale-102 focus:ring-blue-300 ${project.bgColorT} transition-colors duration-300 ease-in-out ${project.colS} ${project.rowS}  justify-start ${project.bgColor} ${project.textColor}`}
        key?={project.id}
      >
        <a href={project.link}>
        <h2 class="text-xl text-left font-bold mb-2">{project.title}</h2>
        <img
          src={project.img}
          alt={project.title}
          class={`rounded-lg  ${project.classImg}`}key?={project.id}
        />
        </a>
      </div>
    
    ))
  }
</div>
