---
// src/components/BentoGrid.astro
// Supports weights 100-900
import '@fontsource-variable/noto-serif';
const projects = [
  {
    id: 1,
    title: "Web Design",
    colS: "col-span-2",
    rowS: "row-span-1",
    bgColor: "bg-[#c5b6d2]",
    textColor: "text-[#343037]",
    darkBgColor: "dark:bg-[#343037]",
    darkTextColor: "dark:text-[#c5b6d2]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Dise%C3%B1oWeb.webp?alt=media&token=7df9723e-ef97-4bac-823d-e3ccd377f45b",
    link: "#",
    classImg: "mx-auto",
  },
  {
    id: 2,
    title: "Graphic Design",
    colS: "col-span-2",
    rowS: "row-span-1",
    bgColor: "bg-[#2f413a]",
    textColor: "text-[#feebde]",
    darkBgColor: "dark:bg-[#21302b]",
    darkTextColor: "dark:text-[#feebde]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Dise%C3%B1o%20Grafico%20(2).webp?alt=media&token=4526b817-ecb5-4fb2-8317-f4ffda77d235",
    classImg: "mx-auto",
    link: "#",
  },
  {
    id: 3,
    title: "Editorial Design",
    colS: "col-span-3",
    rowS: "row-span-1",
    bgColor: "bg-[#95acca]",
    textColor: "text-[#22282e]",
    darkBgColor: "dark:bg-[#22282e]",
    darkTextColor: "dark:text-[#95acca]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Dise%C3%B1o-Editorial-Pj.webp?alt=media&token=4f812bd9-06bb-4532-9881-a62679e8ae3c",
    classImg: "mx-auto",
    link: "#",
  },
  {
    id: 4,
    title: "Personal projects",
    colS: "col-span-1",
    rowS: "row-span-2",
    bgColor: "bg-[#fed4bd]",
    textColor: "text-[#220902]",
    darkBgColor: "dark:bg-[#220902]",
    darkTextColor: "dark:text-[#fed4bd]",
    img:"https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Foxy-Blink.gif?alt=media&token=6fdef4b7-2f2f-4fbd-94a0-65a59868bfee",
    classImg: "mx-auto",
    link: "https://paperfoxstudio.site",
  },
  {
    id: 5,
    title: "Photography and Video",
    colS: "col-span-4",
    rowS: "row-span-2",
    bgColor: "bg-[#a3cd9c]",
    textColor: "text-[#293327]",
    darkBgColor: "dark:bg-[#293327]",
    darkTextColor: "dark:text-[#a3cd9c]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Fotograf%C3%ADa.webp?alt=media&token=3a0a1443-7e07-451e-854a-635337d8c639",
    classImg: "mx-auto",
    link: "#",
  },
];
---

<div class="grid grid-cols-4 gap-4">
  {projects.map((project) => (
    <a href={project.link} key?={project.id} class={`${project.colS} ${project.rowS}`}>
      <div
        class={`
          p-6
          rounded-lg 
          shadow-md 
          dark:border-[#fafaf6] 
          flex
          flex-col
          items-start 
          hover:scale-105 
          duration-300 
          transition-transform 
          ease-in-out 
          ${project.bgColor} 
          ${project.textColor} 
          ${project.darkBgColor} 
          ${project.darkTextColor}`}
      >
        <h2 class="text-xl font-extrabold mb-2 text-left">{project.title}</h2>
        <img
          src={project.img}
          alt={project.title}
          class={`rounded-lg ${project.classImg}`}
        />
      </div>
    </a>
  ))}
</div>
