---
const education = [
  {
    id: "1",
    title: "Digital and Multimedia Designer",
    type: "Degree",
    state: "Graduate",
    date: "2016 - 2020",
    rowSpam: "col-span-1",
    colSpam: "col-span-2",
    bgColor: "bg-indigo-50",
    textColor: "text-[#1d1734]",
    darkBgColor: "dark:bg-[#040915] dark:border-gray-700",
    darkTextColor: "dark:text-white",
  },
  {
    id: "2",
    title: "Master's Degree in 3D Animation for the Entertainment Industries",
    state: "Student",
    date: "2024 - 2025",
    rowSpam: "col-span-1",
    colSpam: "col-span-1",
    bgColor: "bg-[#211D40]",
    textColor: "text-white",
    darkBgColor: "dark:bg-blue-600",
    darkTextColor: "dark:text-white",
  },
  {
    id: "3",
    title: "Course to Video Game Programming: Unity and Unreal",
    state: "Student",
    date: "2024 - 2025",
    rowSpam: "col-span-1",
    colSpam: "col-span-1",
    bgColor: "bg-blue-500",
    textColor: "text-white",
    darkBgColor: "dark:bg-blue-600",
    darkTextColor: "dark:text-white",
  },
  {
    id: "4",
    title: "Course LabDesign",
    state: "Student",
    date: "2024 - 2025",
    rowSpam: "col-span-1",
    colSpam: "col-span-1",
    bgColor: "bg-blue-500",
    textColor: "text-white",
    darkBgColor: "dark:bg-blue-600",
    darkTextColor: "dark:text-white",
  },
  {
    id: "5",
    title: "Course in Leadership",
    state: "Student",
    date: "2024 - 2025",
    rowSpam: "col-span-1",
    colSpam: "col-span-1",
    bgColor: "bg-blue-500",
    textColor: "text-white",
    darkBgColor: "dark:bg-blue-600",
    darkTextColor: "dark:text-white",
  },
];
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  {education.map((education) => (
    <div
      key?={education.id} 
      class={`
        ${education.colSpam} 
        h-25
        flex flex-col 
        justify-between
        p-6 
        rounded-lg 
        shadow-md 
        hover:scale-105 
        duration-300 
        transition-transform 
        ease-in-out 
        ${education.bgColor} 
        ${education.textColor} 
        ${education.darkBgColor} 
        ${education.darkTextColor}
      `}
    >
      <h2 class="text-2xl font-extrabold mb-2 text-left">{education.title}</h2>
      <p class="text-gray-600 text-left">{education.type}</p>
      <div class="flex justify-between items-end">
        <p class="text-gray-600 text-left">{education.state}</p>
        <p class="text-gray-600 text-left">{education.date}</p>
      </div>
    </div>
  ))}
</div>

