---
const education = [
  {
    id: "1",
    title: "Digital and Multimedia Designer",
    collage: "University Colegio Mayor de Cundinamarca",
    type: "Bachelor's degree",
    state: "Graduate",
    date: "2016 - 2020",
    colSpam: "md:col-span-3 md:row-span-2 sm:col-span-2",
    bgColor: "bg-[#e56f45]",
    textColor: "text-[#170a08]",
    darkBgColor: "dark:bg-[#170a08]",
    darkTextColor: "dark:text-[#e56f45]",
  },
  {
    id: "2",
    title: "3D Animation for the Entertainment Industries",
    collage: "UNIR",
    type: "Master's Degree",
    state: "Student",
    date: "2024 - 2025",
    colSpam: "md:col-span-3 md:row-span-2 md:col-start-4 sm:col-start-3",
    bgColor: "bg-[#95acca]",
    textColor: "text-[#111316]",
    darkBgColor: "dark:bg-[#22282e]",
    darkTextColor: "dark:text-[#95acca]",
  },
  {
    id: "3",
    title: "Video Game Programming: Unity and Unreal",
    collage: "UNIR",
    type: "Course",
    state: "Student",
    date: "2024 - 2025",
    colSpam: "md:col-span-2 md:row-span-2 md:row-start-3 sm:row-start-2",
    bgColor: "bg-[#f3cf59]",
    textColor: "text-[#161208]",
    darkBgColor: "dark:bg-[#584b25]",
    darkTextColor: "dark:text-[#f3cf59]",
  },
  {
    id: "4",
    title: "LabDesign",
    collage: "UNIR",
    type: "Course",
    state: "Graduate",
    date: "2024",
    colSpam: "md:col-span-2 row-span-2 md:col-start-3 md:row-start-3 sm:row-start-2",
    bgColor: "bg-[#a3cd9c]",
    textColor: "text-[#121611]",
    darkBgColor: "dark:bg-[#293327]",
    darkTextColor: "dark:text-[#a3cd9c]",
  },
  {
    id: "5",
    title: "Leadership",
    collage: "MIU City University Miami",
    type: "Course",
    state: "Graduate",
    date: "2024",
    colSpam: "md:col-span-2 row-span-2 md:col-start-5 md:row-start-3 sm:row-start-2",
    bgColor: "bg-[#ebbbaa]",
    textColor: "text-[#161210]",
    darkBgColor: "dark:bg-[#51403a]",
    darkTextColor: "dark:text-[#ebbbaa]",
  },
];
---

<div class="grid md:grid-cols-6 md:grid-rows-4 sm:grid-cols-3 sm:grid-rows-2 gap-4">
  {
    education.map((edu) => (
      <div
        key?={edu.id}
        class={`
        ${edu.colSpam} 
        h-30
        flex flex-col
        justify-between
        p-6
        rounded-lg
        shadow-md
        hover:scale-105
        duration-300
        transition-transform
        ease-in-out
        ${edu.bgColor}
        ${edu.textColor}
        ${edu.darkBgColor}
        ${edu.darkTextColor}
      `}
      >
        <div class="mb-2">
          <h3 class="text-2xl font-extrabold text-left">{edu.title}</h3>
          <h4 class="text-base font-bold tracking-wide text-left">
            {edu.collage}
          </h4>
          <h5 class="text-sm text-left mb-4">{edu.type}</h5>
        </div>
        <div class="flex justify-between items-end">
          <p class="text-sm text-left">{edu.state}</p>
          <p class="text-sm text-left">{edu.date}</p>
        </div>
      </div>
    ))
  }
</div>
