---
const { rol, team, duration, tools,time,link } = Astro.props;
---

<div
  class=" grid md:grid-cols-4 auto-cols-maxjustify-items-center bg-[#fffdf3] mt-10 rounded-lg p-6 sm:grid-cols-1 shadow-inner"
>
  <div>
    <h5 class="md:col-span-1 font-semibold text-sm text-zinc-600">My role</h5>
    <p class="dark:text-[#1e1e1e]">{rol}</p>
  </div>
  <div>
    <h5 class="md:col-span-1 font-semibold text-sm text-zinc-600">Team</h5>
    <a href={link} target="_blank"> <p class="font-semibold dark:text-[#1e1e1e] ">{team}</p> </a>
  </div>
  <div>
    <h5 class="md:col-span-1 font-semibold text-sm text-zinc-600">{time}</h5>
    <p class="dark:text-[#1e1e1e]">{duration}</p>
  </div>
  <div>
    <h5 class="col-span-2 font-semibold text-sm text-zinc-600">Tools</h5>
    <p class="dark:text-[#1e1e1e]" >{tools}</p>
  </div>
</div>

