---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
import '@fontsource/twinkle-star';
import '@fontsource/karma';
import '@fontsource-variable/work-sans';
import '@fontsource/source-sans-pro';
import '@fontsource-variable/merriweather-sans';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string; 
  url: string;
  image: string;
  canonicalURL?: string;
}

const { title, description,url,image, canonicalURL} = Astro.props;
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:image" content={url} />
    <meta property="og:title" content={title} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white flex flex-col items-center min-h-screen">
    <div class="transition-all duration-500 ease-in-out fixed inset-0 -z-10 min-h-screen w-full bg-[#fafaf6] dark:bg-neutral-950 bg-[linear-gradient(to_right,rgba(0,182,142,0.06)_1px,transparent_1px),linear-gradient(to_bottom,rgba(232,182,142,0.06)_1px,transparent_1px)] dark:bg-none bg-[size:14px_24px]">
      <div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"></div>
    </div>
    <div class="container mx-auto p-4 flex flex-col justify-center items-center fade-in relative">
      <Navbar />
      
      <main class="mt-8 w-full flex flex-col justify-center items-center">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>